@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* header__section */
header {
  height: 100vh;
  background: #d6fdf6;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
/* custom scroll bar */
/* ::-webkit-scrollbar {
  width: 10px;
} */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
} */
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
  top: 0;
  background: #d6fdf6;
  z-index: 10;
}
.navbar.sticky {
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo a {
  /* color: #fff; */
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.sticky .logo a {
  color: #fff;
}
.navbar .logo img {
  height: 60px;
  width: 60px;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  /* color: #fff; */
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: #007bff;
}
.banner {
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
.contact__btn {
  padding: 0.5rem 1rem;
  border: 2px solid gold;
  cursor: pointer;
  transition: all 0.5s linear;
}
.contact__btn:hover {
  background-color: blue;
  color: white;
}
.sticky .contact__btn {
  color: white;
}
.sticky .menu-list li a {
  color: white;
}
.swiper__container-app {
  margin-top: 80px;
}
/* .mySwiper{
  margin-top: 80px;
} */
/* .swiper-wrapper{
  height: 100vh!important;
} */
.slide__container {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  background-color: #d6fdf6;
  /* flex-wrap: wrap; */
}
.slider__item {
  flex-basis: 48%;

  padding: 1rem;
}
.slider__item2 {
  background-image: url(../images/Pattern.png);
  background-size: cover;
  background-position: center;
}
.slider__item button {
  padding: 0.5rem 2rem;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  margin: 1rem 0;
}
.slider__item h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 1rem 0;
  line-height: 1.1em;
  -webkit-animation: bounce-in-top 2.5s infinite both;
  animation: bounce-in-top 2.5s infinite both;
}
.slider__item h1{
  font-size: 44px;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/* about__section */

.about {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  min-height: 576px;

  gap: 4%;

  position: relative;
}
.about__item {
  flex-basis: 48%;
  position: relative;
}
.about__item h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #217bf4;
}
.about__item h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #0a093d;
}
.about__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #656464;
}
.about__item .img__container {
  width: 270px;
  position: absolute;
}
.about__item:last-child {
  position: absolute;
  height: 100%;
  right: 0;
  width: 50%;
}
.img__container img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
.img__cont3 {
  height: 238px;
  right: 5%;
  top: 5%;
}
.img__cont2 {
  height: 238px;
  bottom: 5%;
  right: 5%;
}
.img__cont1 {
  height: 350px;
  left: 2%;
  top: 20%;
}
.fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  font-size: 40px;
  transform: translate(-50%, -50%);
}
/* services__section */
section.services {
  /* background: #d6fdf6; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.service__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 1rem;
  gap: 4%;
  min-height: 600px;
}
.service__grid img {
  height: 66px;
  width: 66px;
}
.services__grid-item {
  display: flex;
  gap: 2%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 8px;
}
.services__grid-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #656464;
}
.services__grid-item h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #2f2c4a;
}

/**************
****************
****************
 portfolio section
 ****************
 ***************** */
.portfolio {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
.rating {
  background: #ffffff;
  width: 336px;
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  border-radius: 14px;
  padding: 2rem;
}
.rating p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #8c8c8c;
  margin: 1rem 0;
}
.rating a {
  color: blue;
  text-decoration: none;
}
.rating__images {
  display: flex;
  align-items: center;
}
.mainSwiper.swiper {
  width: 240px;
  height: 320px;
}

.mainSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.mainSwiper .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.mainSwiper .swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.mainSwiper .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.mainSwiper .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.mainSwiper .swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.mainSwiper .swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.mainSwiper .swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.mainSwiper .swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.mainSwiper .swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.mainSwiper .swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} /* portfolio section */

/* .mainSwiper{
  width: 70%;
}
.mainSwiper .swiper-wrapper{
  width: 100%;
  margin: auto;
}
.swiper__line{
  width: 60%;
} */
/* .swiper__line img{
  width: 20%;
} */
.slider__item img {
  width: 100%;
  height: 75vh;
 
}
.slider__item2 img {
  width: 80%;
  margin: auto;
  height: 75vh;
  object-fit: contain;
  border-radius: 37% 33% 31% 34% / 47% 49% 50% 49% ;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  display: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  display: none;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  padding: 1rem;
  min-height: 70vh;
}
.class {
  margin: 2rem 0;
}
.footer__grid {
  padding: 1rem;
  color: grey;
}
.footer__grid a {
  color: grey;
}
.footer__grid aside {
  margin: 1rem 0;
}
.footer__grid aside span {
  display: block;
}
.footer__grid aside span i {
  margin: 0.4rem;
}
.aside__img {
  display: flex;
  align-items: center;
}
.footer img {
  max-width: 15%;
  display: block;
}
.footer__grid input {
  width: 100%;
  padding: 0.5rem;
  display: block;
  margin: 1rem 0;
  outline: none;
}
.footer__grid input[type="submit"] {
  background: steelblue;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
/* learningcss */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.course__card {
  position: relative;
  margin-bottom: 1rem;
}
.course__card-image {
  /* display: flex;
  gap: 2%;
  justify-content: space-around; */
  align-items: center;
  padding: 1rem;
}
.course__card-image aside {
  flex-basis: 49%;
}
.course__card-image aside:nth-child(2) h3 {
  text-transform: uppercase;
  font-size: 25px;
}
.course__card-image aside:nth-child(2) p {
  color: grey;
}
.a_text {
  text-align: right;
}
.course__card-image aside:nth-child(2) a {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: steelblue;
  color: white;
  display: block;
  width: 50%;
  text-decoration: none;
}
.course__card-image aside:nth-child(2) {
  background-color: white;
  min-height: 60vh;
  width: 30%;
  box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
  position: absolute;
  padding: 2rem 1rem;
  z-index: 2;
  top: 20%;
  left: 40%;
  border-radius: 20px;
}
.course__card-image aside:nth-child(3) {
  height: 70vh;
  width: 30%;
  box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 40%;
  right: 10%;
}
.course__card-image aside:nth-child(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.course__card-image aside img {
  width: 50%;
}
.testimonial__section {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.courses_section h2{
  text-align: center;
  padding: 1rem;
}
.our__courses{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.wrapper-card{
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
 perspective: 1000px;
 margin: 1rem;
}
.wrapper-card .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper-card:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper-card .card img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.wrapper-card .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper-card:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper-card .back-face img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper-card .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}
.back-face  a{
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background: steelblue;
}
.back-face ul{
  display: flex;
}
.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}
.back-face ul a:hover{
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: linear-gradient(375deg, transparent, transparent);
}
.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
}
.wrapper .box {
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.wrapper .box i.quote {
  font-size: 20px;
  color: #17a2b8;
}
.wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name {
  font-weight: 600;
  font-size: 17px;
}
.box .info .job {
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.box .info .stars {
  margin-top: 2px;
}
.box .info .stars i {
  color: #17a2b8;
}
.box .content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
 
.content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img {
  border-color: #fff;
}
@media (max-width: 1045px) {
  .wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box {
    width: 100%;
  }
}
/* navbarcss */
@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 2vh;
  }
}
/* navbar */

@media (max-width: 550px) {
  .our__courses {
    display: flex;
   flex-direction: column;
   align-items: center;
}

.slider__item h1{
  font-size:30px;
}
  .course__card-image aside:nth-child(1) img {
    background-color: white;
  
    width: 100%;
    
  }
  .course__card-image aside:nth-child(3) {
    height: 70vh;
    width: 30%;
    box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 40%;
    right: 10%;
  }
  .course__card-image aside:nth-child(2) {
    background-color: white;
    min-height: 30vh;
    width: 90%;
    box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 5%;
    padding: 2rem 1rem;
    z-index: 2;
  
    border-radius: 20px;
  }
  .course__card-image aside:nth-child(2) a{
    display: block;
    width: 50%;
  }
  .course__card-image aside:nth-child(3) {
    height: 70vh;
    width: 100%;
    box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 32px 1px rgba(0, 0, 0, 0.75);
    position: static;
    top: 40%;
    right: 10%;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .service__grid {
    display: block;
  }
  .services__grid-item {
    margin: 1rem 0;
  }
  .slide__container {
    display: block;
  }
  .about__item h1 {
    font-size: 22px;
    line-height: 35px;
  }
  .slider__item img {
    height: auto;
  }
  .about__item:last-child {
    position: static;
    height: 40rem;
  }
  .about__item .img__container {
    width: 170px;
    position: absolute;
  }

  .img__cont1 {
    height: 200px;
    left: 5%;
    top: 50%;
  }
  .img__cont2 {
    height: 190px;
    left: 25%;
    bottom: 5%;
  }
  .img__cont3 {
    height: 190px;
    right: 2%;
    top: 40%;
  }
  .about {
    display: block;
  }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2%;
  }
}
